<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
</head>
<style>
    .image{
    top:0;
    left: 630px;
    position: relative;
    }
    .txtpos1{
        left: 630px;
        position: relative;
    }
    .buttonpos{
        left: 605px;
        position: relative;
        width: 200px;
        height: 30px;
        background-color: #77AFFF;
        border-radius: 5px;
    }
    .button1pos{
        left: 605px;
        position: relative;
        width: 200px;
        height: 30px;
        background-color: #77AFFF;
        border-radius: 5px;
    }
</style>
<body>
<img src="./assets/viatex.png" width="150" height="150" class="image">
<h1 class="txtpos1">Bem-Vindo</h1>

<form action="/login" method="post" >
    <input type="button" class="buttonpos" value="Iniciar Sessão" onclick="location.href='login'">
</form>
<p></p>
<form  action="/registar" method="post">
    <input type="button" class="button1pos" value="Registar" onclick="location.href='registar'">
</form>
</body>
</html>